:root {
  --text-sm: clamp(0.8rem, 3vw, 1.5rem);
  --text-md: clamp(1.5rem, 4vw, 2rem);
  --text-lg: clamp(2rem, 5vw, 3rem);
  --color-primary: hsl(160, 50%, 40%);
  --color-primary-dark: hsl(160, 50%, 20%);
  --color-on-primary: white;
  --color-content: hsl(0, 0%, 90%);
  --color-on-content: black;
}

* {
  box-sizing: border-box;
}

/*****************
/* LAYOUT STYLES *
******************/
body {
  height: 100svh;
  font-family: sans-serif;
  background-image: url("images/landing.jpg");
  backdrop-filter: blur(10px);
  background-size: cover;
  background-position: center;
}

.content-container {
  background-color: var(--color-content);
  width: clamp(300px, 100%, 1200px);
  height: 100%;
}

header,
footer {
  width: 100%;
}

footer {
  background-color: hsla(0, 10%, 10%, 75%);
}

/**************
/* NAV STYLES *
***************/
.nav {
  padding: 1em;
  background-color: var(--color-primary-dark);

  /* Used for making nav links fit on mobile. Collapsing toolbar would
  be ideal, but this will work for now. */
  column-gap: clamp(0.5em, 2vw, 3em);
}

.nav--transparent {
  background-color: transparent;
}

.nav-link {
  padding: 0.5em;
  font-size: var(--text-sm);
  color: var(--color-primary);
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: color 200ms, background-color 200ms;
}

.nav-link:hover,
.selected {
  color: var(--color-on-primary);
  background-color: var(--color-primary);
}

.nav-link:active {
  background-color: var(--color-primary-dark);
}

.nav-icon {
  font-size: var(--text-md);
}

/******************
/* LANDING STYLES *
*******************/
.landing {
  flex-grow: 1;
  color: var(--color-on-primary);
}

.landing__title,
.landing__text {
  margin: 0.5em;
}

.landing__title {
  font-size: var(--text-lg);
}

.landing__text {
  font-size: var(--text-sm);
}

/******************
/* CONTENT STYLES *
*******************/
.content {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-grow: 1;
  padding: 2em;
  width: 100%;
}

.content__title {
  width: fit-content;
  border-bottom: 1px solid black;
}

/******************
/* UTILITY STYLES *
*******************/
.flex-col--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row--center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}